
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  padding: 35px;
  }
  .heading {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin:  20px 28px;
    font-size: 26px;
    margin-top: 40px;
  }
  .card {
    width: 280px;
    height: 360px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .card:hover {
    transform: scale(0.95);
  }
  .card_body {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-left: 30px;
  }
  .price {
    margin: 15px 10px;
  }
  .category_img {
    position: absolute;
    backdrop-filter: blur(15px);
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  