
.card {
    width: 310px;
    height: 400px;
    padding: 20px;
    border-radius: 0px;
    cursor: pointer;
  }
  .card_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 10px;
  }
  .price {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
  }
  