.footer {
    margin: 0 -72px;
    --gray: #B1B5C1;
    --dark2: #131528;
    --dark3: #192243;
    --dark4:#05113B;;
    --primary : #1E50FF;
    background-color: #1868b7;
    padding: 0 100px;
    margin-bottom: -10px;
    margin-top: 60px;
    background-image: linear-gradient(0deg, rgb(0, 67, 182), rgb(0, 171, 223));
}
.footer_contact {
    margin-top: 20px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.ul ul {
    list-style: none;
}
.ul h3 {
    margin-bottom:10px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: white;
    cursor: pointer;
}
.ul ul li {
    padding: 10px 0px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: white;
    cursor: pointer;
}

.email p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
   
}
.email h4 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #fff;
}
.copyright {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: white;
    margin-bottom: 50px;
}
.btn_contact {
    display: flex;
    justify-content:space-between;
    width: 436px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input_email {
    background-color: var(--dark2);
    color: white;
    border: none;
    width: 258px;
    height: 40px;
    border-radius: 4px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
}
.btn_email {
    width: 158px;
    height: 60px;
    background: var(--primary);
    border-radius: 4px;
    border: none;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    background-color: #2081E2;
}
.contact {
    display: flex;
    justify-content: space-between;
}
.hr {
    border: 0.1px solid white;
    border-radius: 3px;
}
.end {
    display: flex;
    justify-content: space-between;
}
.end_detail {
    display: flex;
    justify-content: space-between;
    width: 303px;
    margin-top: 20px;
}
.end_detail p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: white;
}
.social {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}