.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 70px;
    padding-top: 40px;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    width: 200px;
    justify-content: space-around;
}
.input1:focus-visible {
    outline: none;
    border: none;
}
.button {
    display: flex;
}
.search {
    width: 500px;
}
.connect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.connect:hover {
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.2);
    cursor: pointer;
}
.wallet {
    display: flex;
    align-items: center;
    
}
.btn {
    border-radius: 40px;
}
.wallet_name {
    font-weight: 700;
}