/* variables.module.scss */

.detail {
    display: flex;
    margin-top: 50px;
}
.heading {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom:  20px;
    font-size: 26px;
    margin-left: 28px;
    margin-top: 40px;

  }
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 26px; 
    margin: 30px 28px;
  }
  .card {
    width: 310px;
    height: 420px;
    padding: 20px;
    border-radius: 0px;
  }
  .card_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 10px;
  }
  .price {
    margin: 15px 10px;
  }
  .left {
    width: 40vw;
    height: 600px;
  }
  .right {
    width: 50vw;
    margin-left: 30px;
  }
  
  
  
  